.ui-page {
    -webkit-backface-visibility: hidden;
}
.headerArea {
	min-height: 65px;
	background-color: #404040;	
}
.brand {
	background: transparent url(../img/headerSprite.gif) no-repeat top left !important;
	height: 60px;
	width: 273px;
	position: absolute;
	text-shadow: none;
	left: 50% !important;
	margin-top: 5px !important;
	margin-left: -136px !important;
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
	border: none !important;
}
.elvis {
	margin-top: -3px;
	margin-bottom: -5px;
	height: 35px;
	width: 35px;
}
.elvispanel span.ui-btn-inner {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
}
.menuicon {
	width: 25px;
	height: 25px;
}
#stockSearchArea {
	margin-top: -10px;	
}
.stockUp {
	display: inline-block;
	margin-top: 3px;
}
.stockDown {
	display: inline-block;
	margin-top: 3px;
}
.stockRowPrice {
	float: right;
	padding-right: 20px;
	font-size: 12px;
}
.stockRowChangeUp {
	font-weight: lighter;
	float: right;
	color: #55AA22;
	margin-top: -3px;
	padding-right: 5px;
	font-size: 12px;
}
.stockRowChangeDown {
	font-weight: lighter;
	float: right;
	color: #BB0000;
	margin-top: -3px;
	padding-right: 5px;
	font-size: 14px;	
}
.panelMenu { 
	background-color: #222222;
}
.panelMenu .ui-btn-up-a {
	background-color: #404040;
}
.panelMenu .ui-li-divider {
	background-color: #222222;
	color: #fff;
}
.panelMenu .ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit {
	color: #fff !important;
	font-weight: lighter !important;
}
.panelMenu li.alerts .ui-icon-shadow {
	background-color: #BB0000;
}
.panelMenu li.alerts .ui-btn-inner .ui-li {
	background-color: #BB0000 !important;
}
.panelMenu li.news .ui-icon-shadow {
	background-color: #55AA22;
}
.panelMenu li.stocks .ui-icon-shadow {
	background-color: #0077AA;
}
.panelMenu li.settings .ui-icon-shadow {
	background-color: #FFB402;
}
.panelMenu li.help .ui-icon-shadow {
	background-color: #FFB402;
}
.panelMenu img.navicon { 
	display: inline-block;  
    position: absolute;
    margin-top: 10px;
    margin-bottom: -20px;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
.panelMenu .ui-listview .ui-li > .ui-btn-text {
	max-height: 50px;
}
.panelMenu span.navtext {
	padding-top: 2px;
	margin-left: -40px;
	font-size: 18px;
}
.panelMenu span.navheader {
	font-size: 24px;
	font-family: 'Roboto', 
	sans-serif; 
	font-weight: lighter;
	margin-left: 50px;
}
.losers {
	background-color: #BB0000;
	border: 1px solid #BB0000;
}
/*.header-alerts {
	background-color: #882288;
}
.header-news { 
	background-color: #FF9900;
}*/
.faded {
	zoom: 1;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.snapshotCurrentData {
	display: block;
	height: 40px;
}
.snapShotCurrentPrice {
	font-family: 'Noto Sans', sans-serif;
	float: left;
	padding-left: 15px;
	font-weight: bold;
	font-size: 24px;
	color: #222222;
	text-shadow: none;
}
.snapShotCurrentChange {
	font-family: 'Noto Sans', sans-serif;
	font-size: 24px;
	float: right;
	text-shadow: none;
	font-weight: lighter;
	display: inline;
	padding-left: 25px;
	padding-right: 15px;
	background: transparent url('../img/arrow_down_large.gif') no-repeat 0 10px;
}
.performance {

}
.performance-out .ui-btn-inner {	
	padding: 5px;
	font-family: 'Noto Sans', sans-serif;
	background-color: #55AA22 !important;
	color: white !important;
	font-weight: lighter;
	font-size: 12px;
	text-shadow: none;
}
.performance-under .ui-btn-inner {
	padding: 5px;
	font-family: 'Noto Sans', sans-serif;
	background-color: #BB0000 !important;
	color: white !important;
	font-weight: lighter;
	font-size: 12px;
	text-shadow: none;
}
.includeInMyStocksText {
	position: absolute;
	padding-top: 8px;
	min-width: 200px;
	padding-left: 15px;
}
.includeInMyStocks {
	margin-top: -10px !important;
	min-width: 200px;
}
.includeInMyStocks span.ui-btn-inner {
	padding: 3px 15px !important;
}
.includeInMyStocks label.ui-radio-off {
	color: White !important;
	text-shadow: none;
	background-color: #CDCDCD;
}
.includeInMyStocks label.ui-radio-on {
	color: White !important;
	text-shadow: none;
	background-color: #0077AA;
}
#snapshotPage .ui-content {
	padding: 0px;
}
#newsPage .ui-content {
	padding: 0px;
}
#alertsPage .ui-content {
	padding: 0px;
}
.stockHeader {
	margin-top: -5px;
	background-color: #0076AA;
	height: 4px;
	width: 100%;
	display: block;
	position: relative;
}

.stocksTitle {
	display: inline;
	background: transparent url('../img/appbar.stock.up.gif') no-repeat 0 10px;
	padding-left: 25px;
}

.newsTitle {
	background: transparent url('../img/appbar.newspaper.gif') no-repeat 0 10px;
}

.alertsTitle {
	background: transparent url('../img/appbar.speakerphone.gif') no-repeat 0 10px;
}

.premiumNewsBg {
	background: url('../img/premiumNews.PNG') no-repeat;
}

.premiumTradeBg {
	background: url('../img/tradealert.PNG') no-repeat;
	height: 420px;
	width: 100%
}