
.headerArea {
	min-height: 60px;	
}

.brand {
	background: transparent url(../img/headerSprite.gif) no-repeat top left !important;
	height: 54px;
	width: 273px;
	position: absolute;
	left: 50% !important; 
	margin-left: -136px !important;
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 